<div class="back-img" >

  <div class="d-flex d-end" >
    <img src="../assets/logo sb 10 final 1 (1) (1).png" class="logo" alt="Logo">
  </div>

  <div class="scrolling scrolling-block" >
    <h2 class="scrolling scrolling-text" >En secret de la bonne santé des élèves résident les clés du succès scolaire</h2>
  </div>

  <div class="d-flex d-center"  style="margin-top: 13px;">  
    <iframe title="Education v1 (1)" width="950px" height="600px" src="https://app.powerbi.com/view?r=eyJrIjoiNTFlNjZlZDAtM2E4YS00OTBiLTk2M2QtNDA5M2VlNTkzOWRmIiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  
</div>
